@value makerLightGrey,makerGreen from "../../common/colors.css";

.editor {
  flex-basis: 50%;
  border-right: 0.0625rem dashed makerLightGrey;
  background-color: blanchedalmond;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.8em 0;
  text-align: center;
  color: makerGreen;
}
