@value makerGreen,makerWhite,makerLightPink from "../../common/colors.css";
@value headerFooterMargin from "../../common/size.css";

.header {
  width: 100%;
  text-align: center;
  padding: headerFooterMargin;
  background-color: makerGreen;
  position: relative;
}

.logout__container {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.logout__btn {
  background-color: makerWhite;
  outline: 0;
  border-radius: 5px;
  border: none;
}

.logout__btn:hover {
  background-color: makerLightPink;
  cursor: pointer;
}

.logo {
  width: 3rem;
}

.title {
  font-size: 2rem;
  color: makerWhite;
  font-weight: bold;
}
