@value makerGreen,makerWhite from "../../common/colors.css";
@value headerFooterMargin from "../../common/size.css";

.header {
  width: 100%;
  padding: headerFooterMargin;
  background-color: makerGreen;
  text-align: center;
  position: relative;
}

.logo {
  width: 3rem;
}

.title {
  font-size: 2rem;
  color: makerWhite;
  font-weight: bold;
}
