@value makerGreen, makerWhite from "../../common/colors.css";
@value headerFooterMargin from "../../common/size.css";

.footer {
  width: 100%;
  background-color: makerGreen;
  text-align: center;
  padding: headerFooterMargin;
}

.title {
  font-size: 1rem;
  color: makerWhite;
}
